@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;400&display=swap')

$georgian: 'Noto Serif Georgian', serif

body
  background-color: #fff
  background-image: url("./assets/MSbackTile.png")
  background-repeat: repeat
  background-size: contain
  padding: 20px
  margin: 0

header
  margin: 0
  height: 10em

.nameHeader
  font-family: $georgian
  font-size: 250px
  letter-spacing: -10px
  line-height: 0.8
  font-weight: 350
  color: #1e307c
  text-align: center
  margin: 0
  padding: 0

.subHeader
  font-family: $georgian
  font-size: 100px
  letter-spacing: -5px
  font-weight: 350
  color: #000
  text-align: center
  margin: 0
  padding: 0

.mugshot
  margin: 124px auto
  width: fit-content
  height: auto

  img
    object-fit: cover
    border-radius: 50%
    box-shadow: 0 0 28px 64px #ffffffe6

.allDetails
  background-color: #fff
  border: 8px solid #000
  border-radius: 10px
  display: grid
  grid-template-columns: 1fr 1fr
  margin: 0
  padding: 24px

.projectsBox
  display: grid
  grid-column: 1 / 1
  margin: 0 24px
  padding: 8px

  .projectThumbnail
    object-fit: cover
    // border: 4px solid #000
    border-radius: 6px
    width: 400px
    height: 300px
    margin: 24px
    padding: 0

.profileBox
  grid-column: 2
  margin: 0 24px
  padding: 8px

  .profileThumbnail
    object-fit: cover
    width: 300px
    height: 300px
    margin: 24px auto
    padding: 0

.contactBox
  display: flex
  grid-column: 1 / 3
  margin: 0 24px
  padding: 8px

  .cvLink
    object-fit: contain
    width: 300px
    height: 300px

.socialsBox
  border: 8px solid #ff0000
  margin: auto
  padding: auto
