@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap')

$georgian: 'Noto Serif Georgian', serif
$garamond: 'EB Garamond', serif
$rubik: 'Rubik', sans-serif

::-webkit-scrollbar
  // display: none
  width: 0.5vw

::-webkit-scrollbar-track
  box-shadow: inset 4vw -4px 4px #BDBCBB

::-webkit-scrollbar-thumb
  background-color: #005DA3
  outline: 1% solid black
  border-radius: 3%

.jelly-triangle
  --uib-size: 200px
  --uib-speed: 2.00s
  --uib-color: black

  justify-content: center
  align-content: center
  z-index: 1
  height: var(--uib-size)
  width: var(--uib-size)
  filter: url('#uib-jelly-triangle-ooze')

.jelly-triangle__dot,
.jelly-triangle::before,
.jelly-triangle::after
  content: ''
  position: absolute
  width: 33%
  height: 33%
  background: var(--uib-color)
  border-radius: 100%

.jelly-triangle__dot
  top: 6%
  left: 30%
  animation: grow var(--uib-speed) ease infinite

.jelly-triangle::before
  bottom: 6%
  right: 0
  animation: grow var(--uib-speed) ease calc(var(--uib-speed) * -0.666) infinite

.jelly-triangle::after
  bottom: 6%
  left: 0
  animation: grow var(--uib-speed) ease calc(var(--uib-speed) * -0.333) infinite

.jelly-triangle__traveler
  position: absolute
  top: 6%
  left: 30%
  width: 33%
  height: 33%
  background: var(--uib-color)
  border-radius: 100%
  animation: triangulate var(--uib-speed) ease infinite

.jelly-maker
  width: 0
  height: 0
  position: absolute

@keyframes triangulate
  0%,
  100%
    transform: none

  33.333%
    transform: translate(120%, 175%)

  66.666%
    transform: translate(-95%, 175%)

@keyframes grow
  0%,
  100%
    transform: scale(1.5)

  20%,
  70%
    transform: none

body
  margin: 0

.header
  display: flex
  align-items: center

  .homePng
    margin: 0 0 0 4vw

.homePng
  width: 40%

.container
  width: 100%
  height: 100%
  display: flex
  flex-direction: row-reverse
  background-color: #fff
  background-image: url("./assets/MSbackTile.png")
  background-repeat: repeat
  background-size: 20%

.coverPage
  flex-basis: 50%

.spine
  flex-basis: 10%
  min-width: 0

  .spineText
    font-family: $georgian
    font-size: 6vh
    writing-mode: vertical-rl
    padding: 2.5vw

.nameHeader
  font-family: $georgian
  font-size: 12vh
  letter-spacing: -0.3vw
  line-height: 0.7
  font-weight: 350
  color: #1e307c
  text-align: center
  margin: 0
  padding: 0

.subHeader
  font-family: $georgian
  font-size: 8vh
  letter-spacing: -0.3vw
  font-weight: 350
  color: #000
  text-align: center
  margin: 0
  padding: 0

.mugshot
  text-align: center
  margin-top: 0.3vh

  img
    width: 62%
    border-radius: 8%

.backCover
  margin-top: 2.8vh
  flex-basis: 50%
  text-align: center

.portfolioModal
  background: white
  z-index: auto
  position: fixed
  border-radius: 3%
  box-shadow: 0.1vh 0.1vh 0.1vh 0.1vh #BDBCBB
  top: 16vh
  left: 17.5vw
  width: 27vw
  height: 54vh

  animation: fadeInAnimation ease 0.3s
  animation-iteration-count: 1
  animation-fill-mode: forwards

  @keyframes fadeInAnimation
    0%
      opacity: 0

    100%
      opacity: 1

  .modalText
    font-size: 1.8vh
    text-align: center

  .closeIcon
    font-size: 3.5vh
    margin: 0vh 1vw -2.5vh 24.7vw

  .externalIcon
    font-size: 3.5vh
    color: black
    margin: 0vh 0vh 0.4vh -4vh
    position: inherit

  .projectThumbnail
    object-fit: cover
    border-radius: 6px
    width: 60%
    box-shadow: 0.2vh 0.2vh #BDBCBB

  .projectThumbnail:hover
    box-shadow: inset 0.2vh 0.2vh #000000

.projectsHeader
  font-family: $georgian
  font-size: 2.5vh
  text-align: center

.projectHeader
  font-family: $georgian
  margin: 1vh

.projectDescription
  font-family: $rubik

.allDetails
  background-color: #fff
  border: 0.5vh solid #000
  border-radius: 16px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  padding: 1vw
  margin: 0 0.3vw

.portfolioContainer
  flex-basis: 37%
  flex-direction: row
  justify-content: center
  align-items: center
  width: 100%
  height: 100%

.projects
  flex-basis: 30%
  overflow-x: hidden
  overflow-y: auto
  padding: 0 1vw
  height: 48vh

.projectThumbnail
  object-fit: cover
  border-radius: 3%
  width: 100%
  box-shadow: 0.2vh 0.2vh #BDBCBB

.projectThumbnail:hover
  box-shadow: inset 0.2vh 0.2vh #000000

.profileBox
  font-family: $rubik
  flex-basis: 60%
  padding-left: 1vw
  font-size: 2vh
  text-align: left

.contactBox
  display: flex
  flex-basis: 100%
  flex-direction: row
  justify-content: space-between
  padding: 1vh 1vw 0

  .cvLink
    display: contents

  .qrCode
    width: 28%
    object-fit: contain
    min-width: 28%

  .socialsBox
    display: grid
    padding: 1vh 1vw
    font-family: $georgian
    border: 0.2vh solid

  a
    text-decoration: none
    color: #000
    display: inline-block

  a:hover
    color: #005DA3

  .peripheralTitle
    grid-area: 2/1
    margin-top: 0.7vh

  .playerTitle
    grid-column-start: span 2

  .socialsLinks
    grid-area: 2/2
    font-size: 4vh

  h1
    margin: 0em
    font-size: 2.5vh
    text-align: left

  .socialIcon
    object-fit: contain
    padding-right: 0.2vw

  .contactText
    padding-left: 3.5vw

  .footer
    display: flex
    text-align: left
    justify-content: space-between
    padding-top: 2.5vh

    .footerText
      font-family: $georgian
      font-size: 1.3vh
      white-space: pre-line

    .footerTitle
      object-fit: contain
      width: 45%

.overlay
  background-image: url("./assets/texture.jpg")
  position: fixed
  z-index: 1
  background-size: cover
  opacity: 16%
  pointer-events: none
  top: 0
  left: 0
  bottom: 0
  right: 0

.loader-container
  position: fixed
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  align-content: center
  flex-wrap: wrap
  background-color: #fff
  background-repeat: repeat
  background-size: 20%
  margin: 0

.loader-container.available
  animation: fadeOutAnimation ease 3s
  animation-iteration-count: 1
  animation-fill-mode: forwards

  @keyframes fadeOutAnimation
    0%
      opacity: 1

    100%
      opacity: 0

// DARK MODE FOLLOWS

.darkMode
  background-image: url("./assets/MDBackTile.png")

// MOBILE FOLLOWS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

$layout-breakpoint-small: 1200px

@media (max-width: $layout-breakpoint-small)
  .projectsBox
    max-width: fit-content
    display: grid
    grid-template-columns: 1fr
    gap: 2vw
    padding: 2vw
    overflow-x: hidden
    overflow-y: auto
    width: 100vw
    box-sizing: border-box
    overflow-y: auto
    width: 100vw
    box-sizing: border-box
  .container
    flex-direction: column
    background-size: 40%

  .homePng
    width: 50%

  .nameHeader
    font-size: 20vw

  .subHeader
    font-size: 10vw

  .spine
    display: none
    visibility: hidden

  .allDetails
    flex-direction: column
    padding: 0

  .portfolioModal
    display: grid
    align-items: center

    a
      grid-row-start: span 2
      width: 30vw
      margin: 1vw

    .projectHeader
      font-size: 3vh
      font-style: italic
      grid-area: 1 / 2
      text-align: right
      padding: 1vw

    .projectDescription
      font-size: 2vh
      grid-area: 2/2
      margin: 2vw
      text-align: right

  .profileBox
    padding: 6vw

  .contactBox
    display: flex
    flex-basis: 100%
    flex-direction: row
    justify-content: space-between
    padding: 1vh 2.5vw 0

  .socialsBox
    display: flex !important
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    justify-content: flex-start
    padding: 1vh 1vw
    font-family: $georgian
    border: 0.2vh solid

    a
      text-decoration: none
      color: #000
      display: inline-block

    a:hover
      color: #005DA3

    .peripheralTitle
      grid-area: 2/1
      margin-top: 0.7vh

    .playerTitle
      grid-column-start: span 2

    .socialsLinks
      grid-area: 2/2
      font-size: 5vh

    h1
      margin: 0em
      font-size: 3vh
      text-align: left

    .socialIcon
      object-fit: contain
      padding-right: 2vw

    .contactText
      padding-left: 4.5vw

    .footer
      display: flex
      text-align: left
      justify-content: space-between
      padding-top: 2.5vh

    .footerText
      font-family: $georgian
      font-size: 1vh
      white-space: pre-line

    .footerTitle
      object-fit: contain
      width: 45%
